 
  <div class="">
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden  flex flex-col items-center dark:bg-gray-800">  
      <div class="max-w-sm w-full bg-white rounded-lg  dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between mb-3">
          <div class="flex justify-center items-center">
              <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pr-1">Grafico Categorias</h5>
              <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
              </svg>
              
          </div>
          <div>
            <button type="button" data-tooltip-target="data-tooltip" data-tooltip-placement="bottom" class="hidden sm:inline-flex items-center justify-center text-gray-500 w-8 h-8 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm"><svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"/>
      </svg><span class="sr-only">Download data</span>
            </button>

          </div>
  </div>


  <!-- Line Chart -->
  <div class="m-2">

    <canvas
    baseChart
    class="chart"
    [data]="doughnutChartData"
    [type]="doughnutChartType"
    (chartHover)="chartHovered($event)"
    >
    </canvas>
  </div>

  <!-- <div class="grid grid-cols-1 items-center  dark:border-gray-700 justify-between">
    <div class="flex justify-between items-center pt-5 outline-none">
      <select id="countries" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
        <option selected value="US">Agosto</option>
        <option value="CA">Julio</option>
        <option value="FR">Junio</option>
        <option value="DE">Mayo</option>
      </select>
    </div>
  </div> -->
</div>


